[Desktop Entry]
Name=SQLiteStudio
Icon=SQLiteStudio
Exec=sqlitestudio
Terminal=false
Type=Application
Categories=GTK;Development;Database;
StartupNotify=true
